#  مراحل پیش پردازش

In [8]:
import numpy as np
import pandas as pd

In [9]:
data = pd.read_csv('../online_retail.csv')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# پاکسازی داده ها

In [10]:
data = data.dropna(subset=['CustomerID'])
data = data[data['Quantity'] > 0]
data['TotalSpent'] = data['Quantity'] * data['UnitPrice']
customer_data = data.groupby('CustomerID').agg({
'TotalSpent': 'sum',
'InvoiceNo': 'nunique'
}).reset_index()

# نرمال سازی داده ها

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
customer_data_scaler = scaler.fit_transform(customer_data[['TotalSpent','InvoiceNo']])

# kmeans

In [13]:
from sklearn.cluster import KMeans
model= KMeans(n_clusters=4, random_state=42)
customer_data['KMeanscluster'] = model.fit_predict(customer_data_scaler)

# ارزیابی

In [19]:
from sklearn.metrics import silhouette_score
score = silhouette_score(customer_data_scaler,customer_data['KMeanscluster'])
print(f' silhouette score for kmeans {score * 100}')

 silhouette score for kmeans 70.4642543128728